html, body {
    overflow: hidden;
}



.slider-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    display: flex;
}

#timeSlider {
    width: 90%;
    margin-right: 10px;
}

#timeLabel {
    font-weight: bold;
}

.ol-popup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 200px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #ccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

#sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the sidebar is on top of the map */
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#sidebar button:hover {
    background: #0056b3;
}

#downloadCsv {
    height: 30px
}